<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>

<body>
  <div class="addBrand-container" id="notice-add-app">
    <div class="container">
      <el-form ref="ruleForm" :model="ruleForm" :rules="rules" :inline="false" label-width="180px"
        class="demo-ruleForm">
        <el-form-item label="公告内容:" prop="region">
          <el-input v-model="ruleForm.content" type="textarea" :rows="3" placeholder="最长200字" maxlength="200" />
        </el-form-item>
        <div class="subBox address">
          <el-form-item>
            <el-button @click="goBack()">
              取消
            </el-button>
            <el-button type="primary" @click="submitForm('ruleForm', false)">
              保存
            </el-button>
            <el-button v-if="actionType == 'add'" type="primary" class="continue" @click="submitForm('ruleForm', true)">
              保存并继续添加
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="../../plugins/vue/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="../../plugins/element-ui/index.js"></script>
  <!-- 引入axios -->
  <script src="../../plugins/axios/axios.min.js"></script>
  <script src="../../js/request.js"></script>
  <script src="../../api/notice.js"></script>
  <script src="../../js/validate.js"></script>
  <script src="../../js/index.js"></script>
  <script>
    var memberAddApp = new Vue({
      el: '#notice-add-app',
      data() {
        return {
          id: '',
          actionType: '',
          ruleForm: {
            account: '',
            password: '',
            name: null,
            telephone: null,
          }
        }
      },
      computed: {
        rules() {
          return {
            content: [{ required: true, trigger: 'blur' }]
            // account: [{ required: true, validator: checkAccount, trigger: 'blur' }],
            // password: [{ required: true, validator: checkPassword, trigger: 'blur' }],
            // name: [{ required: false, validator: checkName, trigger: 'blur' }],
            // telephone: [{ required: false, validator: checkTelephone, trigger: 'blur' }],
          }
        }
      },
      created() {
        this.id = requestUrlParam('id')
        this.actionType = this.id ? 'edit' : 'add'
        if (this.id) {
          this.init()
        }
      },
      mounted() {
      },
      methods: {
        async init() {
          queryNoticeById(this.id).then(res => {
            console.log(res)
            if (String(res.code) === '100') {
              console.log(res.data)
              this.ruleForm = res.data
              // this.ruleForm.sex = res.data.sex === '0' ? '女' : '男'
              // this.ruleForm.password = ''
            } else {
              this.$message.error(res.msg || '操作失败')
            }
          })
        },
        submitForm(formName, st) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              if (this.actionType === 'add') {
                const params = {
                  ...this.ruleForm
                }
                addNotice(params).then(res => {
                  if (res.code === 100) {
                    this.$message.success('添加成功！')
                    if (!st) {
                      this.goBack()
                    } else {
                      this.ruleForm = {
                        content: '',
                      }
                    }
                  } else {
                    this.$message.error(res.msg || '操作失败')
                  }
                }).catch(err => {
                  this.$message.error('请求出错了：' + err)
                })
              } else {
                const params = {
                  ...this.ruleForm
                }
                editNotice(params).then(res => {
                  if (res.code === 100) {
                    this.$message.success('修改成功！')
                    this.goBack()
                  } else {
                    this.$message.error(res.msg || '操作失败')
                  }
                }).catch(err => {
                  this.$message.error('请求出错了：' + err)
                })
              }
            } else {
              console.log('error submit!!')
              return false
            }
          })
        },
        goBack() {
          window.parent.menuHandle({
            id: '5',
            url: '/backend/page/notice/list.html',
            name: '系统公告'
          }, false)
        }
      }
    })
  </script>
</body>

</html>