<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>会议室预订系统</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css" />
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/address-edit.css" />
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <div id="address_edit" class="app" v-cloak>
        <div class="divHead">
            <div class="divTitle">
                <i class="el-icon-arrow-left" @click="goBack"></i>编辑账号信息
            </div>
        </div>
        <div class="divContent">
            <div class="divItem">
                <span>账号：</span>
                <el-input v-model="form.account" :disabled="true"></el-input>
            </div>
            <div class="divItem">
                <span>密码(必填)：</span>
                <el-input placeholder=" 请输入新密码" v-model="form.password" maxlength='140' />
                </el-input>
            </div>
            <div class="divItem">
                <span>姓名：</span>
                <el-input placeholder=" 请填写姓名" v-model="form.name" maxlength='10' class="inputUser" />
                </el-input>
            </div>
            <!-- todo 多个手机号 -->
            <div class="divItem">
                <span>手机号：</span>
                <el-input placeholder=" 请填写手机号码" v-model="form.telephone" maxlength='20'
                    style="width: calc(100% - 80rem);" />
                </el-input>
            </div>
            <div class="divSave" @click="saveUser">保存</div>
        </div>
    </div>
    <!-- 开发环境版本,包含了有帮助的命令行警告 -->
    <script src="../../backend/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../backend/plugins/element-ui/index.js"></script>
    <!-- 引入vant样式 -->
    <script src="./../js/vant.min.js"></script>
    <script src="./../js/common.js"></script>
    <script src="./../api/address.js"></script>
    <script src="./../api/user.js"></script>
    <!-- 引入axios -->
    <script src="../../backend/plugins/axios/axios.min.js"></script>
    <script src="./../js/request.js"></script>
    <script>
        new Vue({
            el: "#address_edit",
            data() {
                return {
                    title: '新增收货地址',
                    form: {
                        account: undefined,
                        password: undefined,
                        name: '',
                        telephone: '',
                    }
                }
            },
            computed: {},
            created() {
                this.initData()
            },
            mounted() {
            },
            methods: {
                goBack() {
                    history.go(-1)
                },
                async initData() {
                    getSelfInfoApi().then(res => {
                        if (res.code == 100) {
                            this.form = res.data
                        } else {
                            this.$notify({ type: 'warning', message: res.msg });
                        }
                    }).catch(err => {
                        this.$notify({ type: 'warning', message: err });
                    })
                },
                async saveUser() {
                    const form = this.form
                    /* if (!form.name || form.name == '') {
                        this.$notify({ type: 'warning', message: '请输入姓名' });
                        return
                    } */
                    if (!form.password || form.password == '') {
                        this.$notify({ type: 'warning', message: '请输入密码' });
                        return
                    }
                    /* if (!form.telephone) {
                        this.$notify({ type: 'warning', message: '请输入手机号' });
                        return
                    } */
                    if (form.telephone && form.telephone != '') {
                        const reg = /^1[3|4|5|7|8][0-9]{9}$/
                        if (!reg.test(form.telephone)) {
                            this.$notify({ type: 'warning', message: '手机号码不合法' });
                            return
                        }
                    }
                    let res = await updateUserApi(this.form)
                    if (res.code == 100) {
                        this.$notify({ type: 'success', message: '修改成功' });
                        window.requestAnimationFrame(() => {
                            window.location.replace('/front/page/user.html')
                        })
                    } else {
                        this.$notify({ type: 'warning', message: res.msg });
                    }
                },
                deleteAddress() {
                    this.$dialog.confirm({
                        title: '确认删除',
                        message: '确认要删除当前地址吗？',
                    })
                        .then(async () => {
                            const res = await deleteAddressApi({ ids: this.id })
                            if (res.code === 1) {
                                window.requestAnimationFrame(() => {
                                    window.location.replace('/front/page/address.html')
                                })
                            } else {
                                this.$notify({ type: 'warning', message: res.msg });
                            }
                        })
                        .catch(() => {
                        });
                },
            }
        })
    </script>
</body>

</html>