<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>会议室预订</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/order.css" />
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <div id="order" class="app" v-cloak>
        <div class="divHead">
            <div class="divTitle">
                <i class="el-icon-arrow-left" @click="goBack"></i>预定记录
            </div>
        </div>
        <div class="divBody" v-if="reservations.length > 0">
            <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getList">
                <van-cell v-for="(reservation,index) in reservations" :key="index" class="item">
                    <div class="title">预订编号：{{reservation.id}}</div>
                    <div class="timeStatus">
                        <span>日期: </span>
                        <span>{{reservation.date}}</span>
                    </div>
                    <div class="timeStatus">
                        <span>起止时间: </span>
                        <span>{{reservation.beginTime}} ~ {{reservation.endTime}}</span>
                    </div>
                    <div class="timeStatus">
                        <span>状态: </span>
                        <span>{{getStatus(reservation.status)}}</span>
                    </div>
                    <div class="timeStatus">
                        <span>房间地址: </span>
                        <span>{{reservation.buildingName}} {{reservation.roomName}}</span>
                    </div>

                    <div class="btn" v-if="reservation.status == 1">
                        <!-- <el-button type="danger" @click="cancelReservation()" size="small">取消</el-button> -->
                        <van-button type="danger" @click="cancelReservation(reservation.id)" size="small">取消预订</van-button>
                    </div>
                </van-cell>
            </van-list>
        </div>
        <div class="divNoData" v-else>
            <div class="divContainer">
                <img src="./../images/no_order.png" />
                <div>暂无预定记录</div>
            </div>
        </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../backend/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../backend/plugins/element-ui/index.js"></script>
    <!-- 引入vant组件 -->
    <script src="./../js/vant.min.js"></script>
    <!-- 引入axios -->
    <script src="../../backend/plugins/axios/axios.min.js"></script>
    <script src="./../js/request.js"></script>
    <script src="./../api/reservation.js"></script>
    <script>
        var reservationApp = new Vue({
            el: "#order",
            data() {
                return {
                    paging: {
                        page: 1,
                        pageSize: 5
                    },
                    orderList: [],
                    reservations: [],
                    loading: false,
                    finished: false,
                    error: false
                }
            },
            computed: {},
            created() {
                this.initData()
            },
            mounted() { },
            methods: {
                goBack() {
                    const url = document.referrer
                    //表示是从订单页面跳转过来的
                    if (url.includes('success')) {
                        window.requestAnimationFrame(() => {
                            window.location.href = '/front/index.html'
                        })
                    } else {
                        history.go(-1)
                    }
                },
                initData() {
                    this.getList()
                },
                async getList() {
                    if (this.finished) {
                        this.loading = false;
                        return
                    }
                    const res = await reservationPagingApi(this.paging)
                    if (res.code == 100) {
                        this.reservations.push(...res.data.records)
                        let records = res.data.records || []
                        this.loading = false;
                        if (this.paging.page >= res.data.pages) {
                            this.finished = true;
                        }
                        this.paging.page = this.paging.page + 1
                    } else {
                        this.$notify({ type: 'warning', message: res.msg });
                    }
                },
                getStatus(status) {
                    let str = ''
                    switch (status) {
                        case 0:
                            str = '已取消'
                            break;
                        case 1:
                            str = '未开始'
                            break;
                        case 2:
                            str = '已结束'
                            break;
                        case 3:
                            str = '已失效'
                            break;

                    }
                    return str
                },
                async cancelReservation(id) {
                    this.$dialog.confirm({
                        title: '确认取消预订',
                        message: '确认要取消当前预定吗？',
                    }).then(async () => {
                        cancelReservationApi(id).then(res => {
                            if (res.code == 100) {
                                this.$notify({ type: 'success', message: '取消成功' });
                                // 遍历reservations数组，将当前id的预定取消
                                this.reservations.forEach(item => {
                                    if (item.id == id) {
                                        item.status = 0
                                    }
                                })
                            } else {
                                this.$notify({ type: 'warning', message: res.msg });
                            }
                        }).catch(err => {
                            this.$notify({ type: 'warning', message: err });
                        })
                    }).catch(() => {
                        // 点击取消后的回调函数
                    });
                },
                getStatus(status) {
                    let str = ''
                    switch (status) {
                        case 0:
                            str = '已取消'
                            break;
                        case 1:
                            str = '未开始'
                            break;
                        case 2:
                            str = '已结束'
                            break;
                        case 3:
                            str = '已失效'
                            break;

                    }
                    return str
                }
            }
        })
    </script>
</body>

</html>