<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>会议室预订系统</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/user.css" />
    <link rel="stylesheet" href="./../styles/order.css" />
    <!-- mintUI样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css"> -->
</head>

<body>
    <div id="user" class="app">
        <!-- 个人信息 -->
        <div class="divHead">
            <div class="divTitle">
                <i class="el-icon-arrow-left" @click="goBack"></i>个人中心
            </div>
            <div class="divUser">
                <img src="./../images/head.png" />
                <div class="desc">
                    <div class="divName">{{user.name}} <img src="./../images/user.png" /></div>
                    <div class="divPhone">{{user.account}}</div>
                </div>
            </div>
        </div>
        <div class="divContent">
            <!-- 管理菜单 -->
            <div class="divLinks">
                <div class="item" @click="toAddressPage">
                    <img src="./../images/edit.png" />
                    <span>账号设置</span>
                    <i class="el-icon-arrow-right"></i>
                </div>
                <div class="divSplit"></div>
                <div class="item" @click="toReservationPage">
                    <img src="./../images/orders.png" />
                    <span>预定记录</span>
                    <i class="el-icon-arrow-right"></i>
                </div>
            </div>

            <!-- <div class="divOrders" v-if="reservations.length > 0">
                <div class="title">最近预订</div>
                <div class="timeStatus">
                    <span>日期: </span>
                    <span>{{reservations[0].date}}</span>
                </div>
                <div class="timeStatus">
                    <span>起止时间: </span>
                    <span>{{reservations[0].beginTime}} ~ {{reservations[0].endTime}}</span>
                </div>
                <div class="timeStatus">
                    <span>状态: </span>
                    <span>{{getStatus(reservations[0].status)}}</span>
                </div>
                <div class="timeStatus">
                    <span>房间地址: </span>
                    <span>{{reservations[0].buildingName}} {{reservations[0].roomName}}</span>
                </div>

                <div class="btn" v-if="reservations[0].status === 1">
                    <el-button type="danger" @click="cancelReservation()" size="small">取消</el-button>
                </div>
            </div> -->
            <div class="divOrders">
                <!-- <van-list v-model="loading" :finished="finished" finished-text="暂无更多近期预定记录" @load="init"> -->
                <div class="title">&nbsp;&nbsp;&nbsp;近期预定记录</div>
                <van-cell-group inset>
                    <van-cell v-for="(reservation,index) in reservations" :key="index" class="item">
                        <div class="timeStatus">
                            <span>预订编号：</span>
                            <span>{{reservation.id}}</span>
                        </div>
                        <div class="timeStatus">
                            <span>日期: </span>
                            <span>{{reservation.date}}</span>
                        </div>
                        <div class="timeStatus">
                            <span>起止时间: </span>
                            <span>{{reservation.beginTime}} ~ {{reservation.endTime}}</span>
                        </div>
                        <div class="timeStatus">
                            <span>房间地址: </span>
                            <span>{{reservation.buildingName}} {{reservation.roomName}}</span>
                        </div>

                        <div class="btn" v-if="reservation.status == 1">
                            <!-- <el-button type="danger" @click="cancelReservation()" size="small">取消</el-button> -->
                            <van-button type="danger" @click="cancelReservation(reservation.id)" size="small">取消预订
                            </van-button>
                        </div>
                    </van-cell>
                </van-cell-group>
                <van-empty image="error" description="近期暂无未开始的预订"  v-if="reservations.length == 0" />
                <!-- </van-list> -->
            </div>

            <div class="quitLogin" @click="toPageLogin">
                退出登录
            </div>
        </div>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../backend/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../backend/plugins/element-ui/index.js"></script>
    <!-- 引入vant组件 -->
    <script src="./../js/vant.min.js"></script>
    <!-- 引入mint库 -->
    <!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!-- 引入axios -->
    <script src="../../backend/plugins/axios/axios.min.js"></script>
    <script src="./../js/request.js"></script>
    <script src="./../api/reservation.js"></script>
    <script src="./../api/login.js"></script>
    <script src="./../api/user.js"></script>
    <script>
        var userApp = new Vue({
            el: "#user",
            data() {
                return {
                    user: {
                        id: "",
                        account: '',
                        password: '',
                        name: '',
                        telephone: ''
                    },
                    loading: false,
                    finished: false,
                    reservations: [{
                        id: 1,
                        date: "2019-10-10",
                        beginTime: "10:00:00",
                        endTime: "11:00:00",
                        status: 1,
                        buildingName: "逸夫楼",
                        roomName: "601",
                    }]
                }
            },
            computed: {},
            created() {
                // this.userPhone = sessionStorage.getItem("userPhone")
                this.init()
            },
            mounted() { },
            methods: {
                goBack() {
                    window.requestAnimationFrame(() => {
                        window.location.href = '/front/main.html'
                    })
                },
                toAddressPage() {
                    window.requestAnimationFrame(() => {
                        window.location.href = '/front/page/edit.html'
                    })
                },
                toReservationPage() {
                    window.requestAnimationFrame(() => {
                        window.location.href = '/front/page/reservation.html'
                    })
                },
                async init() {
                    Promise.all([getSelfInfoApi(), getRecentReservationApi()]).then(res => {
                        if (res[0].code == 100) {
                            this.user = res[0].data
                        } else {
                            this.$notify({ type: 'warning', message: res[0].msg });
                        }

                        if (res[1].code == 100) {
                            this.reservations = res[1].data || []
                            this.loading = false
                            this.finished = true
                        } else {
                            this.$notify({ type: 'warning', message: res[1].msg });
                        }
                    }).catch(err => {
                        this.$notify({ type: 'warning', message: err });
                    })
                },
                async getLatestOrder() {
                    const params = {
                        page: 1,
                        pageSize: 1
                    }
                    const res = await reservationPagingApi(params)
                    if (res.code == 100) {
                        // this.reservations = res.data.records || []
                        /* if (this.order && this.order[0].orderDetails) {
                            let number = 0
                            this.order[0].orderDetails.forEach(item => {
                                number += item.number
                            })
                            this.order[0].sumNum = number
                        } */
                    } else {
                        this.$notify({ type: 'warning', message: res.msg });
                    }
                },
                getStatus(status) {
                    let str = ''
                    switch (status) {
                        case 0:
                            str = '已取消'
                            break;
                        case 1:
                            str = '未开始'
                            break;
                        case 2:
                            str = '已结束'
                            break;
                        case 3:
                            str = '已失效'
                            break;

                    }
                    return str
                },
                cancelReservation(id) {
                    this.$dialog.confirm({
                        title: '确认取消预订',
                        message: '确认要取消当前预定吗？',
                    }).then(async () => {
                        /* const res = await cancelReservationApi(id)
                        if (res.code == 100) {
                            this.$notify({ type: 'success', message: '取消预订成功' });
                            this.init()
                        } else {
                            this.$notify({ type: 'warning', message: res.msg });
                        } */
                        cancelReservationApi(id).then(res => {
                            if (res.code == 100) {
                                this.$notify({ type: 'success', message: '取消成功' });
                                this.init()
                            } else {
                                this.$notify({ type: 'warning', message: res.msg });
                            }
                        }).catch(err => {
                            this.$notify({ type: 'warning', message: err });
                        })
                    }).catch(() => {
                        // 点击取消后的回调函数
                    });
                    /* cancelReservationApi(id).then(res => {
                        if (res.code == 100) {
                            this.$notify({ type: 'success', message: '取消成功' });
                            this.init()
                        } else {
                            this.$notify({ type: 'warning', message: res.msg });
                        }
                    }).catch(err => {
                        this.$notify({ type: 'warning', message: err });
                    }) */
                },
                async toPageLogin() {
                    const res = await logoutApi()
                    if (res.code == 100) {
                        window.requestAnimationFrame(() => {
                            window.location.href = '/front/page/login.html'
                            localStorage.removeItem("token")
                        })
                    } else {
                        this.$notify({ type: 'warning', message: res.msg });
                    }
                }
            }
        })
    </script>
</body>

</html>